parameters:
    level: 7
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests/TestCase
    excludes_analyse:
        - src/Console/Installer.php

includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon
